* {margin: 0; padding: 0;}
html, body {height:100%;background: #fff}
li {color:#b0b0b0; padding: 9px 0 9px 10px; font-size: 0.88em;margin-left: 15px;}
li:hover {background-color: #fef7c9;}
ul li {list-style: none;color: #007cff}
ol li {color:#000}
ol li span {color: #007cff}
a {text-decoration: none; outline: none;color: #5f951c;}
a:hover {text-decoration: none;}
html {min-width: 980px;}
body {font-family: Arial, Helvetica, sans-serif;font-size: 100%;line-height: 1em;color: #393939;}
h2 {height: 40px;padding: 0px 0 0 11px;line-height: 36px;font-size: 1.4em;color:#000; font-weight: bold}
h3 {padding: 0 0 27px 10px;line-height: 1.2em;font-size: 1.833em;color: #478d2a;}

h5 {font-size: 1.0em; padding: 8px 5px 12px 10px; background-color: #dd7501; color: #fff; margin-bottom: 10px}
h6 {font-size: 0.9em; margin-bottom: 10px; padding-bottom: 5px; height: 24px; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #4a4a4a;}

h5 button {margin: 0 2px 0 2px; padding: 2px 2px; }

h6 span {display: inline-block}
li span {display: inline-block}
.details {width:60%}
.hits {width:20%; text-align: right;}
.bar {background-color: #007cff; margin-left: 10px}
.percent {color: #000; }
.content {width: 97%; padding: 10px 20px}
.lineplot{width: 95%; height: 230px;}
.sparkline{width: 95%; height: 250px;}
#sparkline {height: 180px; display: inline-block}
.label {display: inline-block;width: 50%}
.small{display: inline-block;width: 100px; height: 30px}
#column-right {float: left;width: 25%; min-height: 300px;margin-right: 25px;}
#column-left {float: left;width: 70%;padding: 0 10px 0 0; min-height: 300px}
.sparkline p {font-weight: bold}
